/***************************************************************************\
 *                                                                         *
 *      rsvggraph.css                                                      *
 *                                                                         *
 *      CSS styling for the radial svg graph itself.                       *
 *                                                                         *
\***************************************************************************/

svg {
	border: thin solid gray;
	object-fit: contain;
}

.rsvggraph-cursor {
	stroke:#ff8500;
	stroke-width: 3%;
	stroke-opacity: 0.5;
}

.rsvggraph-frame {
	fill: none;
	stroke: none;
}

.rsvggraph-gradation path {
  stroke: black;
  stroke-width: 1;
}

.rsvggraph-gradation text {
  font-size: 200%;
  font-weight: lighter;
}

.rsvggraph-hub {
	fill: #444444;
}

.rsvggraph-graph {
	height: 50%;
	width: auto;
}

.rsvggraph-needle {
	stroke: black;
	stroke-width: 1;
}

.rsvggraph-redzone {
	fill:none;
	stroke: maroon;
	stroke-width: 10%;
}

.rsvggraph-scale {
	fill: none;
	stroke: silver;
	stroke-width: 10%;
}

.rsvggraph-target .rsvggraph-frame {
  stroke: green;
}

.rsvggraph-value {
  font-size: 400%;
  font-weight: bold;
  text-align: center;
}

.rsvggraph-warning .rsvggraph-frame {
  stroke: maroon;
}
